.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
  width: 100%;
}
.content-container {
  width: 50vw;
  height: 50vh;
}
.content-container img {
  width: 50%;
  filter: drop-shadow(15px 15px 0px #e31b6d);
  margin-bottom: 5rem;
}

.pokeball {
  width: 4rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.pokeball:hover {
  transform: scale(1.5);
}

.desactivate {
  width: 4rem;

  transition: all 0.2s ease-in-out;
  filter: grayscale(1);
}
