.item {
  background-color: #ffe3ed;
  color: black;
  margin-bottom: 5px;
  text-align: center;
  height: 5rem;
  width: 100%;
}

.item td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 3.5px solid black;
  border-right: none;
}
.item td {
  border-top: 3.5px solid black;
  border-bottom: 3.5px solid black;
}
.item td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3.5px solid black;
  border-left: none;
}

td {
  height: 100%;
  width: 5rem;
}

.image-container-blob {
  background-image: url("../../assets/images/blob.svg");
}

.image-container-blob img {
  height: 100%;
  width: 50%;
}
.button-container {
  width: 1rem;
}
.buttons {
  margin: 0 auto;
}

.item button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #e31b6d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffe3ed;
  border: 2px black solid;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.item button:hover {
  background-color: #ffe3ed;
  color: #e31b6d;
  border: 2px #e31b6d solid;
}
