.button {
  color: #fff;
  font-weight: 700;
  border: 1px solid white;
  width: 11rem;
  outline: 0;
  font-size: 1.1rem;
  padding: 10px 30px;
  display: inline-block;
  background: linear-gradient(to left, #e31b6d 50%, white 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
  cursor: pointer;
  transform: skew(-21deg);
}

.button span {
  display: inline-block;
  transform: skew(21deg);
}

.button:hover {
  background-position: left;
  color: black;
}
