.pokemon-font {
  font-family: "Pokemon Solid", sans-serif;
  text-transform: capitalize;

  letter-spacing: 6px;
  color: #ffca04;
  text-shadow: 4px 0 #3a53a5, -4px 0 #3a53a5, 0 4px #3a53a5, 0 -4px #3a53a5,
    4px 4px #3a53a5, -4px -4px #3a53a5, 4px -4px #3a53a5, -4px 4px #3a53a5;
}

.button-close-offcanvas {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;
  background-color: transparent;
  color: white;
  border: none;
}

.button-close-no-absolute {
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: none;
}
